/*------------------ start body----------*/
body
{
	margin:0px ;
	padding:0px;
		background-color:rgb(236,235,230);
		margin-top: -20px;
}
/*------------------ end body----------*/

/*------------------ start header----------*/
.head{
margin:0px ;
padding:0px;
width: 100%;

}


.h
{
	list-style: none;
	background:rgb(129,158,166);
	margin-top:0px;
	color:#fff;
	padding:10px;
}

.h li
{
	display: inline-block;
	padding:10px;
	margin-right: 10px;
}

.h a
{
	text-decoration: none;
	color:#fff;
}


.h a:hover{	color:#ff0;}

.home
{
	float: right;
	padding:10px;
}


.search
{
	height: 40px;
	text-align: center;
		float: right;

}



.search input
{
	width: 400px;
	border-radius: 10px;
	height: 30px;
		text-align: right;
		font-size: 20px

}


.a
{
	list-style: none;
	font-size: 30px;
}

.a a{text-decoration: none;}

.a a:hover{color:#000;}

/*------------------ end header----------*/

	/*------------------ start def----------*/

.def {overflow:hidden;}

.idea
{
	width: 40%;
	float: right;
	padding:20px;
	text-align:right;
}

.s
{
	width: 40%;
	float: left;
	padding:20px;
	margin-left: 40px;
}

.s video{margin-left: 90px;}

/*------------------ end def----------*/

/*------------------ start know----------*/

#ser
{
background-color:rgb(246,245,240);
overflow:hidden;
border:1px solid #777;
}

.ex
{
	width: 47%;
	float: right;
	text-align:right;
}

.edu
{
width: 47%;
float: right;
padding-right :40px;
}

.edu >div p , .cus >div p
{
color:#444;
background:#ddd;
}

.cus
{
width: 40%;
float: left;
text-align:right;
}


.v
{
	width: 40%;
	float: left;
	padding:10px;
}

.v video
{
	width: 100%;
	height: 400px

}

/*------------------ end know----------*/

/*------------------ start ser--------*/

#app
{
overflow:hidden;
background-color:rgb(236,235,230);
}

.down
{
width: 40%;
float: right;
padding:20px;
text-align:right;
}

.meter
{
width: 40%;
float: left;
padding:20px;
text-align:right;
}

meter
{
width: 40%;
height: 30px;
display: block
}
/*------------------ end ser----------*/ 

/*------------------ start join----------*/ 

#join
{
	border:1px solid;
padding-top: 20px;
background: url("../img/am.JPG   ") fixed  no-repeat;
background-size: 100% 100%;
margin-bottom: 0px;
}

form
{
	width: 70%;
	margin:auto;
	margin-top: 20px;
	padding-top: 30px;
}


.am
{
font-size: 40px;
color:#fff;
}

form >input , select
{
border:0px ;
text-align:center;
margin:auto;
border-bottom: 1px solid #777;
display: block;
margin-bottom: 20px;
width:30%;
height: 30px;
background:rgba(200,100,100,0.49);
font-size: 20px;
color:#fff;
}

form >input[type="submit"]
{
	width: 90px;
}

form >input[type="submit"]:hover
{
width: 100px;
background:rgb(200,100,120);
}

.ma{text-align: right}
/*------------------ end join----------*/ 

/*------------------ start suggestion----------*/ 

#sug
{
text-align: right;
background:  url("../img/aa.JPEG  ")  no-repeat;
background-size: 	100% 100%;
margin-top: -20px;

}

.ma
{
margin-top: 20px;
margin-right: 30px;
padding-bottom: 10px;
}


.ma label
{
font-size: 20px;
color:#fff;
}

.ma > input
{
text-align: right;
margin-right: 0px;
width: 70px;
margin-top: 17px;
}

.ma >input[type="range"]
{

width: 170px;
margin-top: 10px;
}

textarea
{
background:rgba(120,120,110,0.2);
color:#fff;
text-align: right;
font-size: 20px;
}

.ma >input[type="color"]
{
background: #fff;
}

.ma >input[type="submit"]
{
color:#fff;
background: rgba(200,40,70,0.7);
text-align: center;
}

.ma p
{
color:#fff;
font-size: 20px;
margin-bottom: 4px
}

.ma >input[type="submit"]:hover
{
color:#000;
background: rgb(200,40,70);
border:1px solid #dad;
}

.ma >input[type="file"]
{
width: 190px;
font-size: 15px;
}

.ma a
{
text-decoration: none;
color:#ff0;
}

.ma a:hover
{
color:#f00;
}
/*------------------ end suggestion----------*/ 

/*------------------ start support----------*/ 

#sup 
{
color:#fff;
text-align: center;
background:#000;
margin-top: -20px;
}


#sup ul
{
list-style: none;}



#sup ul li
{
display: inline-block;
padding:7px;}


#sup p
{
color:#fff;
font-size: 17px;
margin:auto;
}

/*------------------ start support----------*/ 


---------------------------*/
.con
{
width:90%;
margin-right: 30px;
margin-top: 0px;

}


p
{
font-size: 20px;
color:#404;
}


h2{text-align:center;
color:#007;}




